.card-body {
 margin: 8px;
 height: 120px;
 min-width: 120px;
 width: 13%;
 background-color: #D4EDF4;
 
 border-radius: 10px;
 display: inline-block;
}

.card-body:hover {
  transition: height 150ms 150ms;
    margin: 8px;
    height: 125px;
    min-width: 120px;
    width: 13.2%;
    background-color: #C3D7DF;
    border-radius: 10px;
    display: inline-block;
   }
   